rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		match /{document=**} {
			allow read, write: if false;
		}

		match /Users/{UserId}/RideCount/{TripId} {
                        allow read: if request.auth.uid == UserId
                        allow write: if request.auth.uid == UserId
                }
		match /Users/{UserId} {
                        allow read: if resource.data.Public == true
                        allow write: if request.auth.uid == UserId
                }
		match /{path=**}/RideCount/{TripId} {
                        allow read;
                }


		match /Users/{UserId}/RideCount/{TripId}/Rides/{RideCountId} {
                        allow read: if request.auth.uid == UserId
                        allow write: if request.auth.uid == UserId
                }

		match /Pages/{PageId} {
			allow read;
		}
		match /Parks/{ParkId} {
			allow read;
		}
		match /Parks/{ParkId}/Rides/{RideId} {
			allow read;
                        allow write: if request.auth.token.Admin == true
		}

		match /{path=**}/Rides/{RideId} {
			allow read;
		}

		match /ParkSubmissions/{SubmissionId} {
                        allow read: if request.auth.token.Admin == true
			allow write: if request.auth.uid == request.resource.data.Submitter.uid;
			allow write: if !('Submitter.uid' in request.resource.data);
		}

		match /CMSPages/{PageID} {
                        allow read: if request.auth.token.Admin == true
                        allow write: if request.auth.token.Admin == true
			allow read: if resource.data.Public == true
		}
	}
}
