rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		match /{document=**} {
			allow read, write: if false;

		    //allow read: if request.auth.token.admin == true
    		//allow write: if request.auth.token.admin == true
		}

		match /users/{userId}/ridecount/{TripId} {
      allow read: if request.auth.uid == userId
      allow write: if request.auth.uid == userId
    }
		match /users/{userId} {
      allow read: if resource.data.public == true
      allow write: if request.auth.uid == userId
    }
		match /{path=**}/ridecount/{tripId} {
      allow read;
    }


		match /users/{userId}/ridecount/{tripId}/rides/{rideCountId} {
      allow read: if request.auth.uid == userId
      allow write: if request.auth.uid == userId
  }

		match /pages/{pageId} {
			allow read;
		}
		match /parks/{parkId} {
			allow read: if resource.data.active == true
      allow read: if request.auth.token.admin == true
      allow write: if request.auth.token.admin == true
		}
		match /parks/{parkId}/rides/{rideId} {
      allow read;
      allow write: if request.auth.token.admin == true
		}
		match /tickets/{ticketId} {
			//allow users to read tickets they own
			allow read: if request.auth.uid == resource.data.user
	      	allow read: if request.auth.token.admin == true
		}

		match /{path=**}/rides/{rideId} {
			allow read;
		}

		match /parkSubmissions/{submissionId} {
      allow read: if request.auth.token.admin == true
			allow write: if request.auth.uid == request.resource.data.submitter.uid;
			allow write: if !('submitter.uid' in request.resource.data);
		}

		match /cmsPages/{pageId} {
      allow read: if request.auth.token.admin == true
      allow write: if request.auth.token.admin == true
			allow read: if resource.data.public == true
		}

  match /inbox/{conversationId} {
      allow read: if request.auth.token.admin == true
      allow write: if request.auth.token.admin == true
  }

  	match /ridecountMigrationRequests/{migrationId} {
    	allow read: if request.auth.token.admin == true
		allow read: if request.auth.uid == resource.data.user;
		allow create: if request.auth.uid == request.resource.data.user;	
  	}

	}
}
