service firebase.storage {
	match /b/{bucket}/o {
		match /CMSImages/{ImageFilename} {
                        allow write: if request.auth.token.Admin == true
			allow read;
		}
	}
}
