<!-- FRAGMENT CONTENT-TAG_ID -->

<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link" data-navigo>
      <img src="/img/logo.png" alt="ParkPlanr logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">ParkPlanr</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/img/logo.png" class="img-circle elevation-2 userProfileImage" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block"><span class="currentUsername"></span></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="/" class="nav-link" data-navigo>
              <i class="nav-icon fas fa-home"></i>
              <p>
                Home
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/inbox" class="nav-link" data-navigo>
              <i class="nav-icon fas fa-th"></i>
              <p>
                Inbox
                <span class="right badge badge-danger inboxUnreadMessageCount"></span>
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/cms" class="nav-link" data-navigo>
              <i class="nav-icon fas fa-sitemap"></i>
              <p>
                CMS
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/parks" class="nav-link" data-navigo>
              <i class="nav-icon fab fa-fort-awesome"></i>
              <p>
                Parks & Attractions
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/tickets" class="nav-link" data-navigo>
              <i class="nav-icon fas fa-ticket-alt"></i>
              <p>
                Tickets
              </p>
            </a>
          </li>
            
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-money-cheque-alt"></i>
              <p>
                Affiliate
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">

              <li class="nav-item">
                <a href="/affiliate" class="nav-link active" data-navigo>
                  <i class="far fa-circle nav-icon"></i>
                  <p>Affiliate home</p>
                </a>
              </li>


              <li class="nav-item" data-requiredClaims="admin">
                <a href="/affiliate/admin" class="nav-link active" data-navigo>
                  <i class="far fa-circle nav-icon"></i>
                  <p>Manage ParkPlanr affiliates</p>
                </a>
              </li>

            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
