<!-- FRAGMENT CONTENT-TAG_ID -->

    <!-- Footer -->
    <footer class="footer bg-dark text-white py-6 overflow-hidden">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-5">
                        <a class="footer-brand mr-lg-5" href="/">
                            <img src="/img/brand/logo_name.png" alt="ParkPlanr">
                        </a>
                        </p>
                        <p class="text-gray">Follow us to get updates</p>
                        <ul class="social-buttons mb-5 mb-lg-0">
                            <li>
	                            <a href="https://twitter.com/parkplanrapp" target="_blank" class="btn btn-link text-white" data-toggle="tooltip" data-placement="bottom" title="Follow us on Twitter">
	                                <i class="fab fa-twitter"></i>
	                            </a>
                            </li>
                            <li>
	                            <a href="https://www.facebook.com/parkplanrapp/" target="_blank" class="btn btn-link text-white" data-toggle="tooltip" data-placement="bottom" title="Like us on Facebook">
	                                <i class="fab fa-facebook"></i>
	                            </a>
                            </li>
                            <li>
	                            <a href="https://github.com/OkoWsc/ParkPlanrFirebase" target="_blank" class="btn btn-link text-white" data-toggle="tooltip" data-placement="bottom" title="We're open source, find us on Github">
	                                <i class="fab fa-github"></i>
	                            </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-2 mb-5 mb-lg-0">
                        <h6>ParkPlanr</h6>
                        <ul class="links-vertical">
                            <li><a class="text-gray" href="/about" onclick="loadPageTag(this);return false;">About Us</a></li>
                            <li><a class="text-gray" href="/contact" onclick="loadPageTag(this);return false;">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="copyright mt-4 text-center">
                ParkPlanr &#xA9; 2017-<span class="CurrentYear"></span> <a href="https://okonetwork.org.uk">The Oko Network</a>. All rights reserved.
		<p><small>Version: <span id="footerVersion"></span></small></p>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
